{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="heading font-weight-light text-center" style="font-family: candara;"><b> <i class="fas fa-user-plus" style="font-size:20px"></i> Sign Up</b></h2>
    <hr>
</div>
<div class="container w-25 card p-4 mt-4" style="background-color: #fffdd0;width:40% !important">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Sign Up" class="w-100 text-white text-center my-2 btn btn-info" style="background-color: #67ae55;font-family: candara;font-weight:bold">
    </form>
</div>


{% endblock content %}

{% block footer %}
<footer class="mt-4 p-2" style="background-color: #4e71ba !important;font-family:cursive">
  <p class="text-center p-1 m-0">Copyright © <script>document.write(new Date().getFullYear())</script> by TailBook  </p>

</footer> 
{% endblock footer %}