{% load static %} 
{% if fdd.gender == 'male' %}
<!-- Card for details -->
<div class="card my-2 mx-2 boy-card ">
  <img
    src="{% if fdd.image %}
        {{ fdd.image.url }}
        {% else %}
        {% static 'images/boy.png' %}
        {% endif %}"
    class="img-fluid"
  />
  <div class="card-header">
    <a href="{% url 'detail' fdd.id %}" class="text-white header-link"
      ><i class="fas fa-mars mr-2"></i> {{ fdd.name }}</a
    >
  </div>
</div>
<!-- Card for details ends -->
{% else %}
<div class="card my-2 mx-2 girl-card">
  <img
    src="{% if fdd.image %}
        {{ fdd.image.url }}
        {% else %}
        {% static './images/girl.png' %}
        {% endif %}"
    class="img-fluid"
  />
  <div class="card-header">
    <a href="{% url 'detail' fdd.id %}" class="text-white header-link"
      ><i class="fas fa-venus mr-2"></i> {{ fdd.name }}</a
    >
  </div>
</div>
{% endif %}
